<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>tp3</title>
  <script src="./node_modules/vue/dist/vue.js"></script>
  <script>
  // CODE VUE JS ICI
  // console.log(Vue);

  window.onload = function start() {
    new Vue({
      el: "#exercice-2",
      data: {
        title: "TP",
        keydownMessage: "no value yet",
        todos:[],
        maValue: "no value",
         productVisible:false,
         prixTshirt: 23,
         descTshirt: "un super tshirt en coton",
         titleTshirt: "Tshirtland",
      },

      methods: {
        monAlert:function() {
          alert("hello");
        },
        keydown:function(e) {
          this.keydownMessage = e.target.value;
        },
        onAddTodo: function(e) {
          if (e.target.value) {
            this.todos.push(e.target.value);
          e.target.value = "";
        }
      }
      }
    });
  }

  </script>
  <style>

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
</style>
</head>
<body>
  <div id="exercice-2">
    <h1>{{ title }}</h1>
    <!-- CONSIGNE -->
    <!-- Afficher une alerte au click sur ce bouton -->
    <div>
      <button @click="monAlert">Show alert</button>
    </div>

    <!-- Ecouter les events keydown et stocker la valeur dans une prop de data -->
    <div>
      <input type="text" v-on:keyup="keydown">
      <!-- <p> {{ keydownMessage }}</p> -->
      <p> {{ maValue }}</p>
    </div>
    <!-- Implanter l'exo 2 de façon à ce que l'event ne soit pas déclenché que si la touche enter
    est pressée (voir la doc de vue) -->
    <!-- <div>
      <input type="text" @keyup.enter="keydownMessage=$event.target.value">
      <p> {{ keydownMessage }}</p>
    </div> -->
    <div>
      <input type="text" @keyup.enter="onAddTodo" placeholder="ajouter to do">
    </div>
    <ul class="todo-list">
      <p v-if="!todos.lenght"> pas de todos pour le moment </p>
      <li v-for="todo in todos">
              {{ todo }}
      </li>
    </ul>
    <!-- Créer un bouton toggle, au click un élément masqué au départ apparait
    appliquer une transition css sur le détail produit
    changer le texte du bouton en masquer details -->

    <div>
      <button class="btn" @click="productVisible=!productVisible" name="slide-fade" >
        <span v-if="productVisible">Voir détails</span>
        <span v-else>Voir détails</span>
      </button>
          <transition name="fade">
      <p v-if="!productVisible"> les détails de ce produit sont masqués</p>
      </transition>
      <transition name="fade">
      <div class="product-detail" v-if="productVisible">
        <h2> {{ titleTshirt }}</h2>
        <p>
          {{ descTshirt }}
        </p>
        <p>
          prix : {{ prixTshirt }}
        </p>
      </div>
      </transition>
    </div>

  </div>
</body>
</html>
